---
import { Code } from "astro/components";
import "astro-remote";
import { Markdown } from "astro-remote";

type Props = {
  title: string;
  /** Provide a code example for the story */
  source: string;
};

const { title, source } = Astro.props as Props;
---

<div class="Story">
  <Markdown
    content={`${title}:`}
    sanitize={{ allowElements: ["b", "i", "code"] }}
    components={{ p: "h3" }}
  />

  <div class="Story_codeWrapper" style="margin-block-end: 2rem;">
    {source ? <Code code={source} lang="astro" /> : null}
  </div>

  <div>
    <slot />
  </div>
</div>

<style>
  .Story {
    max-width: 100%;
  }

  .Story_codeWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
