---
import { Code } from "astro/components";

type Props = {
  title: string;
  /** Provide a code example for the story */
  source: string;
};

const { title, source } = Astro.props as Props;
---

<div class="Story">
  <p>
    {title}:
  </p>

  <div class="Story_codeWrapper" style="margin-block-end: 2rem;">
    {source ? <Code code={source} lang="astro" /> : null}
  </div>

  <div>
    <slot />
  </div>
</div>

<style>
  .Story {
    max-width: 100%;
  }

  .Story_codeWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
