name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint:
    name: Lint and typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Install Tools & Dependencies
        uses: ./.github/actions/install
      - name: Check `*.astro` types
        run: pnpm check:astro
      - name: Check `*.ts` types
        run: pnpm check:ts
      - name: Lint astro and ts
        run: pnpm lint
      - name: Check formatting
        run: pnpm format:check
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Install Tools & Dependencies
        uses: ./.github/actions/install
      - name: Test
        run: pnpm test
  build-docs:
    name: Smoke-Test Docs Site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Install Tools & Dependencies
        uses: ./.github/actions/install
      - name: Build the docs
        run: pnpm build
